# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Maven Build Main Template

on:
  workflow_call:
    inputs:
      runner:
        description: 'Runner'
        required: false
        default: 'ubuntu-latest'
        type: string 

jobs:
  build:

    runs-on: ${{ inputs.runner }}

    steps:
    - uses: actions/checkout@v4

    - name: Cache local Maven repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: maven-repo-cache
      
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: maven-settings-xml-action
      uses: s4u/maven-settings-action@v4.0.0
      with:
        repositories: >
          [
            {
              "id": "github-repo",
              "name": "anaptecs GitHub Snapshot Maven Repo",
              "url": "https://maven.pkg.github.com/anaptecs/*",
              "snapshots": {
                "enabled": "true"
              }
            }
          ],
        pluginRepositories: >
          [
            {
              "id": "github-plugin-repo",
              "name": "anaptecs GitHub Snapshot Maven Repo",
              "url": "https://maven.pkg.github.com/anaptecs/*",
              "snapshots": {
                "enabled": "true"
              }
            }
          ]
        servers: >
          [
            {
              "id": "github-repo",
              "username": "${env.GITHUB_USERNAME}",
              "password": "${env.GITHUB_TOKEN}"
            }
            {
              "id": "github-plugin-repo",
              "username": "${env.GITHUB_USERNAME}",
              "password": "${env.GITHUB_TOKEN}"
            }
          ]    
      
    - name: Build and Publish packages
      run: mvn -Duser.country=DE -Duser.language=de -Duser.timezone="Europe/Berlin" -U -B clean deploy
      env:
        GITHUB_USERNAME: x-access-token
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
